* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    letter-spacing: 1px;
}

a {
    color: white;
    text-decoration: none;
}

h1{
    text-align: center;
}

nav {
    text-align: justify; 
    height: 3em; 
    background: skyblue;
    color: white;
    text-transform: uppercase;
}

nav > a,
nav > a::before,
.menu > ul{
    display: inline-block;
    display: block;
    padding-top: 15px;
} 

#mainMenu ul{
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.menu > a {
    height: 100%;
}

.menu ul {
    list-style: none;
    position: relative;
} 

.menu > ul > li {
    display: inline-block;
    padding: 0 0.6em;
    white-space: nowrap;
    cursor: pointer;
}

img{
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top:100px; 
}

pre{
    padding: 2px;
    border: 1px solid #888;
    display: block;
    padding: 12.5px;
    margin: 0 0 13px;
    font-size: 15px;
    line-height: 1.625;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    width: 90%;
}
#code{
    margin-left: 9%;
    display: block;
}
#code ul{
    margin-left: auto;
    margin-right: auto;
}
#code ul li{
    padding: 15px;
}
.codeContent{
    display: none;
}
.showCode{
    display: inline-block;
}
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221); /* this is a light blue */
}
.textContent{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
/*Style the DIV*/
.container .box{
    width: 95%;
    padding: 5px;
    margin: 20px;
  }
  .container .box div {
    margin-top: 35px;
  }
  ol {
    counter-reset:li;
    margin: 0;
    padding: 0;
  }
  ol > li {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    list-style: none;
    margin: 0 0 .5em 1.95em;
    padding: .5em 1em;
    position: relative;
  }
  ol > li:before {
    background: rgb(66, 184, 221);
    color: white;
    content: counter(li);
    counter-increment:li;
    font-family: "Bree Serif", serif;
    font-size: 1.2em;
    line-height:1em;
    padding: .5em 0;
    position: absolute;
      top: .4em;
      left: -1.6em;
    text-align: center;
    width: 2em;
  }
.imageContainer div{
    margin-left: auto;
    margin-right: auto;
    display: table;
}